.range-slider {
    width: 300px;
    margin: 20px auto;
  }
  
  .horizontal-slider {
    width: 100%;
    height: 25px;
  }
  
  .example-thumb {
    height: 20px;
    width: 20px;
    background-color: #0C5E98;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .example-track {
    top: 50%;
    transform: translateY(-50%);
    background: #ddd;
  }
  
  .range-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  