.range-slider {
    width: 150px;
    margin: 25px auto;
    max-width: 200px;
    margin-left:30px;
  }
  
.horizontal-slider {
  width: 100%;
  height: 35px;
}

.example-thumb {
  height: 20px;
  width: 20px;
  background-color:grey;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.example-track {
  top: 50%;
  transform: translateY(-50%);
  background: red; /* color for filled track */
}

.example-track-0 {
  background: red; /* Color for the filled track */
}

.example-track-1 {
  background: black; /* Color for the unfilled track */
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
