.range-slider-container {
    width: 200px;
    margin: 30px auto;
    align-items:self-start; /* Align items to the start of the container */
    max-width: 200px;
    margin-left:15px;
    box-sizing: border-box; /* Ensures padding is included in the width/height */
  }
  
  .range-slider-container .horizontal-slider {
  width: 100%;
  height: 50px;
  color: black;
  border: 2px solid gray; /* Add border around the slider */
  border-radius: 10px; /* Optional: add border-radius for rounded corners */
  
  
}

.range-slider-container .example-thumb {
  height: 50%;
  width: 25px;
  background-color:grey;
  ;/* fill the circles */
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  }
  
  .range-slider-container .example-track {
  top: 50%;
  height:4px;
  transform: translateY(-50%);
  background: rgba(128, 128, 128, 0.5); /* color for filled track */
  }
  
  .range-slider-container .example-track-0 {
  background: rgba(128, 128, 128, 0.5)
  }
  
  .range-slider-container .example-track-1 {
  background: black
  }
  
  .range-slider-container .range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  }